/* Estilo do cabeçalho */
header {
    position: fixed; /* Fixa o cabeçalho na tela */
    top: 0; /* Mantém no topo */
    left: 0;
    width: 100%; /* Ocupa toda a largura */
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 5000;
    gap: 10px; /* Adiciona espaçamento entre os elementos */
}

#logo {
    max-height: 50px;
    width: auto; /* Mantém a largura proporcional */
}


header h1 {
    font-size: 22px;
    color: #333;
}

/* Botão de menu */
.menu-toggle {
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    padding: 0%;
}
